/*----общие стили-----*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,700');
@font-face {
  font-family: 'Aleo';
  src: url('../font/aleo-regular-webfont.woff2') format('woff2'),
  url('../font/aleo-regular-webfont.ttf')  format('truetype'),
  url('../font/aleo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  border: 10px solid #fff;
  box-sizing: border-box;
}
.inner-section {
  width: 1110px;
  margin: 0 auto;
}
h1 {
  margin: 0;
}
h2 {
  font-family: 'Aleo', 'Times New Roman', serif;
  color: #fff;
  font-size: 36px;
}
.link {
  display: inline-block;
  font-family: 'Aleo', 'Times New Roman', serif;
  font-size: 16px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.btn {
  width: 225px;
  border: 1px solid transparent;
  line-height: 58px;
  background: url("../img/btn-bg.png");
}
.format-text {
  font-family: 'Josefin Sans', Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
  color: #e8e8e8;
}
/*-------header-section------*/
#header-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: 'Josefin Sans', Arial, sans-serif;
  text-align: center;
  color: #fff;
  background: #040516 url("../img/section-1-bg.jpg") no-repeat right top;
  background-size: cover;
  .content-wrapper {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    h1 {
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 10px;
    }
    .slogan {
      font-size: 22px;
      font-weight: 400;
      letter-spacing: 5px;
      margin: 0 0 50px;
    }
    form {
      width: 650px;
      & > * {
        float: left;
      }
      input[type="search"], button {
        width: 500px;
        height: 60px;
        border: 2px solid #fff;
        box-sizing: border-box;
        text-align: center;
      }
      input[type="search"] {
        color: #000;
      }
      button {
        display: flex;
        justify-content: center;
        width: 150px;
        background: #5474FD;
        font-family: 'Aleo', 'Times New Roman', serif;
        text-transform: uppercase;

        span {
          margin-right: 10px;
        }
      }
      input[type="search"]:hover {
        box-shadow: inset 0 0 35px #5474FD;
      }
      button:hover {
        background: #FF6363;
      }
    }
  }
  .scroll-link {
    position: absolute;
    bottom: 160px;
    transform: translateX(-50%);
    font-family: 'Josefin Sans', Arial, sans-serif;
    letter-spacing: 4px;
    text-transform: none;
    span {
      display: block;
    }
    &:hover span {
      text-decoration: underline;
    }
  }
}
/*--------header--------*/
header {
  background: #5474FD;
  .logo {
    font-family: 'Josefin Sans', Arial, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 80px;
  }
  nav, ul, li {
    display: inline-block;
  }
  nav {
    float: right;
  }
  li {
    list-style: none;
  }
  a{
    line-height: 80px;
    margin-left: 40px;
  }
  .logo:hover, a:hover {
    text-decoration: underline;
  }
}
/*-----why-choose-us----*/
#why-choose-us {
  height: 690px;
  padding-top: 120px;
  box-sizing: border-box;
  background: #333333 url("../img/section-2-bg.jpg") no-repeat right top;
  background-size: cover;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .left-block {
    width: 540px;
    float: left;
  }
  .right-block {
    width: 480px;
    float: right;
    img:first-of-type {
      float: left;
      margin-bottom: 10px;
    }
    img:nth-of-type(2) {
      float: right;
    }
    img:hover {
      box-shadow: 0 0 20px #5474FD;
    }
  }
  a:hover {
    border: 1px solid #fff;
    box-shadow: 0 0 20px #5474FD;
  }
}
/*-----------select-section-----*/
#select-section {
  background: #333333;
  .inner-section {
    height: 340px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: url("../img/rainbow.png") no-repeat 48% 20%;
    .select-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #333333;
      z-index: 2;
      span {
        display: block;
        margin-top: 20px;
        font-family: 'Aleo', 'Times New Roman', serif;
        font-size: 36px;
        color: #e8e8e8;
      }
    }
  }
}
/*-----------spain-hotel----------*/
#spain-hotel {
  height: 700px;
  padding-top: 250px;
  background: url("../img/section-3-bg.jpg") no-repeat right top;
  background-size: cover;
  box-sizing: border-box;
}
.grand-spain-madrid {
  width: 540px;
  height: 370px;
  padding: 50px 30px;
  box-sizing: border-box;
  background-color: rgba(77,77,77, .9);
  font-family: 'Josefin Sans', Arial, sans-serif;
  font-weight: 300;
  color: #e8e8e8;
  span {
    display: block;
    font-size: 20px;
    &:nth-of-type(2) {
      margin: 30px 0 20px;
      text-transform: uppercase;
    }
  }
  p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  a:hover {
    border: 1px solid #fff;
    box-shadow: 0 0 20px #5474FD;
  }
}
/*--------spain-sea--------*/
#spain-sea {
  height: 700px;
  padding-top: 230px;
  box-sizing: border-box;
  background: url("../img/section-4-bg.jpg") no-repeat right top;
  background-size: cover;
  .grand-spain-madrid {
    float: right;
  }
}
/*-------what-our-tourist-say----------*/
#what-our-tourist-say {
  height: 730px;
  padding-top: 110px;
  text-align: center;
  background: url("../img/section-5-bg.jpg") no-repeat left top;
  background-size: cover;
  h2 {
    margin-bottom: 100px;
  }
  .tourist-content {
    display: flex;
    height: 285px;
    .tourist-say {
      text-align: justify;
      padding: 40px 60px;
      box-sizing: border-box;
      background: #333333;
      span {
        display: block;
        margin-bottom: 25px;
        font-family: 'Josefin Sans', Arial, sans-serif;
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
        color: #e8e8e8;
      }
      p {
        text-indent: 22px;
        margin-top: 0;
      }
    }
  }
  .fas {
    color: #5474FD;
  }
}
/*---------footer-----------------*/
footer {
  padding-top: 100px;
  height: 270px;
  box-sizing: border-box;
  font-family: 'Josefin Sans', Arial, sans-serif;
  background: #232323;
  .footer-content {
    h2 {
      font-family: 'Josefin Sans', Arial, sans-serif;
      font-size: 26px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;
    }
    p{
      color: #fff;
      margin-bottom: 30px;
      letter-spacing: 1px;
    }
    width: 170px;
    margin: 0 auto;
    text-align: center;
    .social {
      display: flex;
      justify-content: space-between;
      .fab {
        color: #fff;
      }
      a:hover .fab {
        color: #5474FD;
      }
    }
  }
}