.recording {
	position: absolute;
	right: 0;
	width: 120px;
	padding: 10px 5px;
	top: 70%;
	background: rgba(255, 255, 255, 0.7);
	text-align: center;
}

.recording a, .welcome a {
	display: block;
	color: #000;
	text-decoration: none;
}

.recording:hover, .welcome:hover {
	width: 200px;
	transition: width 0.5s ease-in-out;
}

.welcome {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%);
	padding: 10px 5px;
	background: rgba(255, 255, 255, 0.7);
	text-align: center;
}

@media screen and (max-width: 1250px) {
	header .carousel .main-nav-wrap .nav-item a {
	    font-size: 16px;
	}
}

header .carousel .main-nav-wrap .nav-item a:hover {
	text-decoration: underline;
}

header .carousel .bg-slide-1 {
      min-height: 100vh;
      background: url("../img/header-slide-img-1.jpg") no-repeat top center;
      background-size: cover; }
    header .carousel .bg-slide-2 {
      min-height: 100vh;
      background: url("../img/header-slide-img-2.jpg") no-repeat top center;
      background-size: cover; }
    header .carousel .bg-slide-3 {
      min-height: 100vh;
      background: url("../img/header-slide-img-3.jpg") no-repeat top left;
      background-size: cover; }

 #feelings .feelings-content h3 {
 	margin-top: 16px;
 }

 @media screen and (max-width: 992px) {
	#feelings .feelings-content {
	 	margin-top: 26px;
	}
 }

 #map {
  height: 700px; 
}
 #map h3, #map p {
    text-align: center; 
}